<body style="background: linear-gradient(to bottom, #4A046E, #6E0463); ">




    <center>
        <img src="https://tecmonclova.com/sitio/wp-content/uploads/2019/03/cropped-LogoTecNM_mva_2018_video-web.png" alt="prueba" height="200" width="500">
    </center>
    <div>
        <h1 style="text-align:center;">Vinculation</h1>
        <p class="lead">.</p>
        <h1 style="font-family: 'Arial', sans-serif; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); text-align: center; font-size: 3em;">@(ViewBag.Title)</h1>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-2 text-center">
            <h2 style="font-size:150%;">
                <a href="@Url.Action("Index", "Career")" class="btn btn-dark" style="color: white; text-decoration: none; ">Career</a>
            </h2>
            <p></p>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <h2 style="font-size:150%;">
                    <a href="@Url.Action("Index", "Employee")" class="btn btn-dark" style="color: white; text-decoration: none; ">Employee</a>
                </h2>
                <p></p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                    <h2 style="font-size:150%;">
                        <a href="@Url.Action("Index", "StudyPlan")" class="btn btn-dark" style="color: white; text-decoration: none; ">StudyPlan</a>
                    </h2>
                    <p></p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                        <h2 style="font-size:150%;">
                            <a href="@Url.Action("Index", "Subject")" class="btn btn-dark" style="color: white; text-decoration: none; ">Subject</a>
                        </h2>
                        <p></p>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-2 text-center">
                            <h2 style="font-size:150%;">
                                <a href="@Url.Action("Index", "Viatic")" class="btn btn-dark" style="color: white; text-decoration: none;">Viatic</a>
                            </h2>
                            <p></p>
                        </div>
                    </div>
</body>
